<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model Compression</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="image" value="Select">
        <select name="prune_type">
            <option value="channel">Channel</option>
            <option value="filter">Filter</option>
            <option value="none">None</option>
        </select>
        <select name="model_type">
            <option value="vgg">VGG19</option>
            <option value="resnet">ResNet50</option>
        </select>
        <input type="submit" name="predict" value="Send Request">
    </form>
    {% if image_name %}
        <h2>Your Image:</h2>
        <img src="{{ url_for('static', filename=image_name) }}" width="224" height="224">
    {% endif %}
    {% if res %}
        <h2>Prune Type: {{prune_type}}</h2>
        <h2>Model Type: {{model_type}}</h2>
        <h2>Prediction: {{res}}</h2>
        <h2>Inference Time: {{inference_time}}</h2>
        <h2>Model Summary:</h2>
        <span style="white-space: pre-line"><h5>{{model_summary}}</h5></span>
    {% endif %}
</body>
</html>
